@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', sans-serif;
}

body {
  min-height: 100dvh;
}

.p-float-label > label {
  color: #334155;
}
